<div class="container py-4">
	<div class="row">
		<div class="col-12 col-sm-10 col-lg-9 mx-auto">
			<div class="card">
				 <div class="card-bady">
				 	<form action="/notas/editar/{{consula.id_notas}}" method="POST" class="bg-white py-5 px-4 shadow rounded">
				 			<h1 class="display-4 text-center">Modificar Notas</h1>
							<hr>
						<div class="form-group">
				 			<label for="nombre">Docente:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="id_docente"
				 			 value="{{consula.id_docente}}">
				 		</div>
				 		<div class="form-group">
				 			<label for="nombre">Estudiante:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="id_estudiante"
				 			 value="{{consula.id_estudiante}}">
				 		</div>
				 		<div class="form-group">
				 			<label for="nombre">Materia:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="id_materia"
				 			 value="{{consula.id_materia}}">
				 		</div>
				 		<div class="form-group">
				 			<label for="nombre">Periodo:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="id_periodo"
				 			 value="{{consula.id_periodo}}">
				 		</div>
				 		<div class="form-group">
				 			<label for="nombre">nota:</label>
				 			<input class="form-control border-0 bg-light shadow-sm" 
				 			 type="text"
				 			 name="nota"
				 			 value="{{consula.nota}}">
				 		</div>
				 		<div class="form-group">
				 			<button type="submit" class="btn btn-block btn-lg btn-success">Guardar</button>
				 			<a href="/notas/show" class="btn btn-block btn-lg btn-danger">Cancelar</a>
				 		</div>				 		
				 	</form>
				 </div>
			</div>
		</div>
	</div>
</div>